*{
    overflow: hidden;
}
#login {
    display: none;
}

#sign-up {
    display: none;
}

.dash-cont {
    align-content: center;
    text-align: center;
    margin-left: auto;
    
    
} 

.dash-data {
    text-align: center;
    align-content: center !important;
    height: 100px;

}

.dash-data .dash-text {
    margin-top: 10px;
    padding-top: 10px;
    align-content: center;
}

header .material-icons {
    margin-right: 12px;
} 

.head {
    background: #009879;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #009879;
    border-right: 2px solid #008c71;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.navbar__link {
    display: flex;
    align-items: center;
    background: #008c71;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    border-bottom: 1px solid rgba(15, 15, 15, 0.6);
}

.navbar__link .material-icons {
    margin-right: 12px;
}
.navbar__link:active {
    background: #0000;
}